# Import thư viện

In [34]:
# Pandas for reading data
import pandas as pd

# Matplotlib for ploting graph
import matplotlib.pyplot as plt

# Train test split
from sklearn.model_selection import train_test_split

# Multilayer Perceptron Classifier
from sklearn.neural_network import MLPClassifier

# Set matplotlib figure size
plt.rcParams['figure.figsize'] = (20, 4)

# Đọc dữ liệu

In [35]:
# Power dataframe
p_df = pd.read_csv('./data/W.csv',\
                       names=['time', 'light', 'socket', 'heater', 'aircond1', 'aircond2', 'aircond3', 'indcooker'],\
                       header=0)

# Voltage dataframe
u_df = pd.read_csv('./data/V.csv',\
                  names=['time', 'u'],\
                  header=0)

# Current dataframe
i_df = pd.read_csv('./data/A.csv',\
                  names=['time', 'light', 'socket', 'heater', 'aircond1', 'aircond2', 'aircond3', 'indcooker'],\
                  header=0)

light    : chiếu sáng  
socket   : ổ cắm phòng khách + bếp + ngủ  
heater   : bình nóng lạnh  
aircond1 : điều hoà 1 & 2  
aircond2 : điều hoà 3  
aircond3 : điều hoà phòng khách  
indcooker: bếp từ

### Bảng đo công suất tiêu thụ

In [36]:
p_df

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker
0,2020-07-15 00:00:00,0.0,216.0,0,244.0,0.0,631.0,1.0
1,2020-07-15 00:01:00,0.0,210.0,0,286.0,0.0,631.0,3.5
2,2020-07-15 00:02:00,0.0,206.0,0,314.0,0.0,633.0,6.0
3,2020-07-15 00:03:00,0.0,206.0,0,254.0,0.0,632.0,3.5
4,2020-07-15 00:04:00,0.0,160.0,0,274.0,0.0,629.0,1.0
...,...,...,...,...,...,...,...,...
31675,2020-08-05 23:55:00,0.0,236.0,0,183.0,0.0,0.0,1.0
31676,2020-08-05 23:56:00,0.0,238.0,0,174.0,0.0,0.0,1.0
31677,2020-08-05 23:57:00,0.0,243.0,0,199.0,0.0,0.0,1.0
31678,2020-08-05 23:58:00,0.0,241.0,0,229.0,0.0,0.0,1.0
31679,2020-08-05 23:59:00,0.0,246.0,0,245.0,0.0,0.0,1.0

### Bảng đo điện áp tiêu thụ

In [37]:
u_df

                      time    u
0      2020-07-15 00:00:00  231
1      2020-07-15 00:01:00  230
2      2020-07-15 00:02:00  230
3      2020-07-15 00:03:00  230
4      2020-07-15 00:04:00  230
...                    ...  ...
31675  2020-08-05 23:55:00  230
31676  2020-08-05 23:56:00  230
31677  2020-08-05 23:57:00  231
31678  2020-08-05 23:58:00  231
31679  2020-08-05 23:59:00  232

[31680 rows x 2 columns]

### Bảng đo dòng điện tiêu thụ

In [38]:
i_df

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker
0,2020-07-15 00:00:00,0.0,0.965,0.0,1.52,0.0,2.86,0.25
1,2020-07-15 00:01:00,0.0,0.955,0.0,1.53,0.0,2.86,0.25
2,2020-07-15 00:02:00,0.0,0.950,0.0,1.53,0.0,2.86,0.25
3,2020-07-15 00:03:00,0.0,0.950,0.0,1.53,0.0,2.87,0.25
4,2020-07-15 00:04:00,0.0,0.790,0.0,1.53,0.0,2.86,0.25
...,...,...,...,...,...,...,...,...
31675,2020-08-05 23:55:00,0.0,1.060,0.0,1.17,0.0,0.00,0.25
31676,2020-08-05 23:56:00,0.0,1.060,0.0,1.17,0.0,0.00,0.25
31677,2020-08-05 23:57:00,0.0,1.070,0.0,1.17,0.0,0.00,0.25
31678,2020-08-05 23:58:00,0.0,1.070,0.0,1.17,0.0,0.00,0.25
31679,2020-08-05 23:59:00,0.0,1.080,0.0,1.16,0.0,0.00,0.25

# Chuẩn bị dữ liệu

### Chọn các thiết bị sẽ phân loại

In [39]:
# select_device = ['heater', 'indcooker']
# select_device = ['heater', 'indcooker', 'aircond1']
# select_device = ['heater', 'indcooker', 'aircond1', 'aircond2', 'aircond3']
select_device = ['heater', 'indcooker', 'aircond1', 'aircond2', 'aircond3', 'socket', 'light']

### Tính tổng P

In [40]:
p_df['sum'] = p_df[select_device].sum(axis=1)
p_df.head()

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker,sum
0,2020-07-15 00:00:00,0.0,216.0,0,244.0,0.0,631.0,1.0,1092.0
1,2020-07-15 00:01:00,0.0,210.0,0,286.0,0.0,631.0,3.5,1130.5
2,2020-07-15 00:02:00,0.0,206.0,0,314.0,0.0,633.0,6.0,1159.0
3,2020-07-15 00:03:00,0.0,206.0,0,254.0,0.0,632.0,3.5,1095.5
4,2020-07-15 00:04:00,0.0,160.0,0,274.0,0.0,629.0,1.0,1064.0

### Tính tổng I

In [41]:
i_df['sum'] = i_df[select_device].sum(axis=1)
i_df.head()

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker,sum
0,2020-07-15 00:00:00,0.0,0.965,0.0,1.52,0.0,2.86,0.25,5.595
1,2020-07-15 00:01:00,0.0,0.955,0.0,1.53,0.0,2.86,0.25,5.595
2,2020-07-15 00:02:00,0.0,0.950,0.0,1.53,0.0,2.86,0.25,5.590
3,2020-07-15 00:03:00,0.0,0.950,0.0,1.53,0.0,2.87,0.25,5.600
4,2020-07-15 00:04:00,0.0,0.790,0.0,1.53,0.0,2.86,0.25,5.430

### Gán nhãn

Dựa vào bảng đo công suất tiêu thụ, tại một thời điểm t, thiết bị nào có công suất tiêu thụ lớn hơn `threshold` thì xác định là thiết bị đó đang bật. 

Có n thiết bị thì sẽ có tương ứng 2^n trường hợp, hay 2^n nhãn lớp.

Ví dụ có 5 thiết bị: A, B, C, D, E:
- A đang bật => 1
- B đang tắt => 0
- C đang bật => 1
- D đang bật => 1
- E đang tắt => 0

Thì nhãn lớp sẽ là 10110 (base 2) tương ứng với 22 (base 10)

In [42]:
threshold = 10

def set_label(row):
    x = 0
    for i, name in enumerate(select_device):
        if row[name] > 10:
            x += 2**i
    return x

p_df['label'] = p_df.apply(set_label, axis=1)

p_df.sample(10)

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker,sum,label
25338,2020-08-01 14:18:00,22.0,237.0,0,259.0,0.0,0.0,1.0,519.0,100
10034,2020-07-21 23:14:00,0.0,250.0,0,212.0,0.0,623.0,1.0,1086.0,52
11604,2020-07-23 01:24:00,0.0,149.0,0,282.0,0.0,615.0,2.0,1048.0,52
6260,2020-07-19 08:20:00,0.0,129.0,0,0.0,0.0,0.0,0.5,129.5,32
2204,2020-07-16 12:44:00,148.0,100.0,0,467.0,1108.0,0.0,1257.0,3080.0,110
14198,2020-07-24 20:38:00,0.0,132.0,0,0.0,0.0,0.0,1.0,133.0,32
7900,2020-07-20 11:40:00,44.5,1701.0,0,0.0,0.0,2096.0,2.0,3843.5,112
30462,2020-08-05 03:42:00,0.0,211.0,0,0.0,0.0,43.5,1.0,255.5,48
9050,2020-07-21 06:50:00,0.0,179.0,0,0.0,14.5,0.0,0.5,194.0,40
9992,2020-07-21 22:32:00,0.0,304.0,0,296.0,0.0,665.0,1.0,1266.0,52

### Lấy các cột tổng ra cùng với label tương ứng

In [43]:
data = pd.DataFrame()
data['P'] = p_df['sum']
data['U'] = u_df['u']
data['I'] = i_df['sum']
data['Label'] = p_df['label']

data.sample(10)

            P    U       I  Label
12446  1241.0  224   5.935     40
5262   2156.0  226   9.810     48
11058  2955.5  226  13.570     97
9266    233.5  224   1.405     32
1765   1041.0  228   5.160     52
407     291.5  228   1.580     96
27666   253.5  232   1.415     32
28037  2460.0  226  11.235     98
4108    316.0  223   1.770     32
17723   260.0  222   1.430     96

### Đưa về tập X và y để đưa vào model

Tập dữ liệu X phải chuẩn hoá về ma trận 2 chiều của numpy  
Mỗi dòng tương ứng với một điểm dữ liệu

In [44]:
X = data[['P', 'U', 'I']].to_numpy()

#### Tập nhãn lớp y đưa về dạng one-hot-coding vector  
Ví dụ:
- label = 0 tương ứng với vector [1, 0, 0, ..., 0] 
- label = 1 tương ứng với vector [0, 1, 0, ..., 0]
- label = 2 tương ứng với vector [0, 0, 1, ..., 0]
- ...
- label = 2^n - 1 (n = số thiết bị) tương ứng với vector [0, 0, 0, ..., 1]

Số lượng nơ-ron ở tầng đầu ra = độ dài vector output = 2 ^ n

In [45]:
y = [[0 for i in range(2**len(select_device))] for j in range(len(data))]
for i in range(len(data)):
    y[i][data['Label'][i]] = 1

#### Cách khác để mã hoá nhãn lớp (không làm theo bài báo):

Vì cách mã hoá one-hot-coding sẽ khiến vector output có độ dài bằng 2^n, sẽ làm tầng output của mạng nơ-ron cồng kềnh dẫn đến mất thời gian tính toán, nên có một cách khác tự nhiên hơn. (Thử nghiệm cho thấy độ hiệu quả là xấp xỉ nhau)

Giữ nhãn lớp ở dạng vector gồm 1 và 0 tương ứng với trạng thái của các thiết bị.  
Ví dụ có 5 thiết bị: A, B, C, D, E:
- A đang bật => 1
- B đang tắt => 0
- C đang bật => 1
- D đang bật => 1
- E đang tắt => 0

Thì mã hoá nhãn lớp là vector [1,0,1,1,0] luôn.

Số lượng nơ ron ở tầng đầu ra = số thiết bị cần phân loại.

In [46]:
# def tobase2(n):
#     length = len(select_device)
#     ret = [0 for i in range(length)]
#     i = length - 1
#     while n > 0:
#         ret[i] = n % 2
#         n = n // 2
#         i -= 1
#     return ret

# y = [tobase2(data['Label'][i]) for i in range(len(data))]

# Đưa dữ liệu vào mô hình

### Chia tập train, test

Tỷ lệ chia 70-30, lấy theo thứ tự, không xáo trộn (để dễ dàng so sánh kết quả với các giải thuật hoặc mô hình khác)

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, shuffle=False)

### Train

In [48]:
clf = MLPClassifier(solver='adam', 
                    alpha=1e-5, 
                    hidden_layer_sizes=20, 
                    random_state=1, 
                    max_iter=1000, 
                    verbose=True, 
                    learning_rate='adaptive',
                    n_iter_no_change=20)
clf.fit(X_train, y_train)

Iteration 1, loss = 672.20963123
Iteration 2, loss = 7.44927427
Iteration 3, loss = 4.05532580
Iteration 4, loss = 3.40712160
Iteration 5, loss = 3.19006111
Iteration 6, loss = 3.05356276
Iteration 7, loss = 2.96565737
Iteration 8, loss = 2.90972740
Iteration 9, loss = 2.84062603
Iteration 10, loss = 2.80436361
Iteration 11, loss = 2.78278993
Iteration 12, loss = 2.75681200
Iteration 13, loss = 2.73494598
Iteration 14, loss = 2.73107406
Iteration 15, loss = 2.70858660
Iteration 16, loss = 2.70388076
Iteration 17, loss = 2.70541384
Iteration 18, loss = 2.68828760
Iteration 19, loss = 2.69242550
Iteration 20, loss = 2.69063292
Iteration 21, loss = 2.68690009
Iteration 22, loss = 2.67754637
Iteration 23, loss = 2.68118362
Iteration 24, loss = 2.68123924
Iteration 25, loss = 2.67324926
Iteration 26, loss = 2.65860887
Iteration 27, loss = 2.67094295
Iteration 28, loss = 2.68790350
Iteration 29, loss = 2.68249745
Iteration 30, loss = 2.67545125
Iteration 31, loss = 2.68515887
Iteration 32, loss = 2.67934314
Iteration 33, loss = 2.66320071
Iteration 34, loss = 2.67476966
Iteration 35, loss = 2.66652440
Iteration 36, loss = 2.69899351
Iteration 37, loss = 2.67202662
Iteration 38, loss = 2.66292478
Iteration 39, loss = 2.67433181
Iteration 40, loss = 2.67553776
Iteration 41, loss = 2.67314232
Iteration 42, loss = 2.67865982
Iteration 43, loss = 2.67779725
Iteration 44, loss = 2.68064132
Iteration 45, loss = 2.66759528
Iteration 46, loss = 2.64716052
Iteration 47, loss = 2.68485431
Iteration 48, loss = 2.65217210
Iteration 49, loss = 2.64099901
Iteration 50, loss = 2.65419268
Iteration 51, loss = 2.65626901
Iteration 52, loss = 2.63454084
Iteration 53, loss = 2.64004705
Iteration 54, loss = 2.66500738
Iteration 55, loss = 2.64794597
Iteration 56, loss = 2.63995023
Iteration 57, loss = 2.63101688
Iteration 58, loss = 2.66241884
Iteration 59, loss = 2.66856149
Iteration 60, loss = 2.63001136
Iteration 61, loss = 2.65298748
Iteration 62, loss = 2.63156187
Iteration 63, loss = 2.64792460
Iteration 64, loss = 2.65242133
Iteration 65, loss = 2.64047549
Iteration 66, loss = 2.64031518
Iteration 67, loss = 2.66148900
Iteration 68, loss = 2.64796534
Iteration 69, loss = 2.63601666
Iteration 70, loss = 2.64142821
Iteration 71, loss = 2.64301678
Iteration 72, loss = 2.62500741
Iteration 73, loss = 2.63133208
Iteration 74, loss = 2.63220250
Iteration 75, loss = 2.62185085
Iteration 76, loss = 2.63347632
Iteration 77, loss = 2.62462467
Iteration 78, loss = 2.65412554
Iteration 79, loss = 2.63721577
Iteration 80, loss = 2.63889277
Iteration 81, loss = 2.64506874
Iteration 82, loss = 2.60933064
Iteration 83, loss = 2.63004678
Iteration 84, loss = 2.62670216
Iteration 85, loss = 2.61382235
Iteration 86, loss = 2.62052026
Iteration 87, loss = 2.62308982
Iteration 88, loss = 2.62092953
Iteration 89, loss = 2.64740133
Iteration 90, loss = 2.60313269
Iteration 91, loss = 2.61593027
Iteration 92, loss = 2.61271126
Iteration 93, loss = 2.60624742
Iteration 94, loss = 2.63235375
Iteration 95, loss = 2.63223482
Iteration 96, loss = 2.61116023
Iteration 97, loss = 2.62413268
Iteration 98, loss = 2.61354352
Iteration 99, loss = 2.61217495
Iteration 100, loss = 2.61804837
Iteration 101, loss = 2.63669463
Iteration 102, loss = 2.60862142
Iteration 103, loss = 2.60605439
Iteration 104, loss = 2.61792315
Iteration 105, loss = 2.62334240
Iteration 106, loss = 2.59805725
Iteration 107, loss = 2.60317636
Iteration 108, loss = 2.61887158
Iteration 109, loss = 2.59722488
Iteration 110, loss = 2.59755436
Iteration 111, loss = 2.58246626
Iteration 112, loss = 2.57321606
Iteration 113, loss = 2.57124008
Iteration 114, loss = 2.58427055
Iteration 115, loss = 2.55997927
Iteration 116, loss = 2.55298919
Iteration 117, loss = 2.54244236
Iteration 118, loss = 2.55037522
Iteration 119, loss = 2.55247963
Iteration 120, loss = 2.53610972
Iteration 121, loss = 2.52878370
Iteration 122, loss = 2.53217768
Iteration 123, loss = 2.51671880
Iteration 124, loss = 2.52642659
Iteration 125, loss = 2.51605783
Iteration 126, loss = 2.51563868
Iteration 127, loss = 2.51518656
Iteration 128, loss = 2.52485750
Iteration 129, loss = 2.50324799
Iteration 130, loss = 2.51195081
Iteration 131, loss = 2.50668622
Iteration 132, loss = 2.49865061
Iteration 133, loss = 2.50574669
Iteration 134, loss = 2.50704960
Iteration 135, loss = 2.50957841
Iteration 136, loss = 2.48891062
Iteration 137, loss = 2.51116573
Iteration 138, loss = 2.50048703
Iteration 139, loss = 2.49975382
Iteration 140, loss = 2.50580590
Iteration 141, loss = 2.48904736
Iteration 142, loss = 2.48797498
Iteration 143, loss = 2.49641974
Iteration 144, loss = 2.49337248
Iteration 145, loss = 2.49269619
Iteration 146, loss = 2.49365890
Iteration 147, loss = 2.49488476
Iteration 148, loss = 2.49098003
Iteration 149, loss = 2.49134178
Iteration 150, loss = 2.48145325
Iteration 151, loss = 2.48921585
Iteration 152, loss = 2.48600945
Iteration 153, loss = 2.48313158
Iteration 154, loss = 2.48134645
Iteration 155, loss = 2.48194273
Iteration 156, loss = 2.48012021
Iteration 157, loss = 2.46911589
Iteration 158, loss = 2.47006242
Iteration 159, loss = 2.47872398
Iteration 160, loss = 2.47510965
Iteration 161, loss = 2.49182480
Iteration 162, loss = 2.47605305
Iteration 163, loss = 2.48109279
Iteration 164, loss = 2.47524818
Iteration 165, loss = 2.46895207
Iteration 166, loss = 2.46311986
Iteration 167, loss = 2.46992687
Iteration 168, loss = 2.46607160
Iteration 169, loss = 2.46789873
Iteration 170, loss = 2.47039378
Iteration 171, loss = 2.47128379
Iteration 172, loss = 2.46691471
Iteration 173, loss = 2.47325577
Iteration 174, loss = 2.47017851
Iteration 175, loss = 2.46481903
Iteration 176, loss = 2.46909415
Iteration 177, loss = 2.46507246
Iteration 178, loss = 2.46500655
Iteration 179, loss = 2.45507465
Iteration 180, loss = 2.45789374
Iteration 181, loss = 2.45594785
Iteration 182, loss = 2.45875857
Iteration 183, loss = 2.45290558
Iteration 184, loss = 2.45714374
Iteration 185, loss = 2.44968842
Iteration 186, loss = 2.45629088
Iteration 187, loss = 2.44834223
Iteration 188, loss = 2.44504339
Iteration 189, loss = 2.44222345
Iteration 190, loss = 2.43951795
Iteration 191, loss = 2.44517018
Iteration 192, loss = 2.44123634
Iteration 193, loss = 2.43412956
Iteration 194, loss = 2.45184209
Iteration 195, loss = 2.43622680
Iteration 196, loss = 2.43695018
Iteration 197, loss = 2.43515425
Iteration 198, loss = 2.43374945
Iteration 199, loss = 2.43760765
Iteration 200, loss = 2.42821487
Iteration 201, loss = 2.42975270
Iteration 202, loss = 2.42966462
Iteration 203, loss = 2.42996326
Iteration 204, loss = 2.43106274
Iteration 205, loss = 2.42381275
Iteration 206, loss = 2.42079611
Iteration 207, loss = 2.42235443
Iteration 208, loss = 2.42280871
Iteration 209, loss = 2.41762367
Iteration 210, loss = 2.42481134
Iteration 211, loss = 2.42686185
Iteration 212, loss = 2.42037005
Iteration 213, loss = 2.41355073
Iteration 214, loss = 2.41667898
Iteration 215, loss = 2.41309694
Iteration 216, loss = 2.41545191
Iteration 217, loss = 2.41188789
Iteration 218, loss = 2.41487880
Iteration 219, loss = 2.40675278
Iteration 220, loss = 2.40863604
Iteration 221, loss = 2.41176322
Iteration 222, loss = 2.40408023
Iteration 223, loss = 2.40942437
Iteration 224, loss = 2.40766186
Iteration 225, loss = 2.40867695
Iteration 226, loss = 2.40409063
Iteration 227, loss = 2.40677915
Iteration 228, loss = 2.40394467
Iteration 229, loss = 2.40841234
Iteration 230, loss = 2.39943547
Iteration 231, loss = 2.40360421
Iteration 232, loss = 2.39926159
Iteration 233, loss = 2.40671349
Iteration 234, loss = 2.39506341
Iteration 235, loss = 2.39981456
Iteration 236, loss = 2.39630397
Iteration 237, loss = 2.40161843
Iteration 238, loss = 2.39575558
Iteration 239, loss = 2.39508091
Iteration 240, loss = 2.39323453
Iteration 241, loss = 2.39214622
Iteration 242, loss = 2.39351374
Iteration 243, loss = 2.40259064
Iteration 244, loss = 2.39593113
Iteration 245, loss = 2.39422638
Iteration 246, loss = 2.38877544
Iteration 247, loss = 2.38781097
Iteration 248, loss = 2.39429603
Iteration 249, loss = 2.39647013
Iteration 250, loss = 2.39422265
Iteration 251, loss = 2.38285074
Iteration 252, loss = 2.38510577
Iteration 253, loss = 2.39294314

Iteration 254, loss = 2.38866699
Iteration 255, loss = 2.38435340
Iteration 256, loss = 2.38188364
Iteration 257, loss = 2.39710915
Iteration 258, loss = 2.38281562
Iteration 259, loss = 2.37969100
Iteration 260, loss = 2.38334144
Iteration 261, loss = 2.38420631
Iteration 262, loss = 2.37767591
Iteration 263, loss = 2.38357688
Iteration 264, loss = 2.38840041
Iteration 265, loss = 2.37989555
Iteration 266, loss = 2.37843585
Iteration 267, loss = 2.37572996
Iteration 268, loss = 2.38356978
Iteration 269, loss = 2.37562879
Iteration 270, loss = 2.37773814
Iteration 271, loss = 2.37610733
Iteration 272, loss = 2.37420366
Iteration 273, loss = 2.37317665
Iteration 274, loss = 2.37372698
Iteration 275, loss = 2.38566690
Iteration 276, loss = 2.37719889
Iteration 277, loss = 2.36675972
Iteration 278, loss = 2.36894004
Iteration 279, loss = 2.37543993
Iteration 280, loss = 2.36828412
Iteration 281, loss = 2.37164605
Iteration 282, loss = 2.36652999
Iteration 283, loss = 2.37095077
Iteration 284, loss = 2.37072022
Iteration 285, loss = 2.37151504
Iteration 286, loss = 2.36520928
Iteration 287, loss = 2.36361257
Iteration 288, loss = 2.36559659
Iteration 289, loss = 2.36318151
Iteration 290, loss = 2.36711744
Iteration 291, loss = 2.36198048
Iteration 292, loss = 2.36783154
Iteration 293, loss = 2.35592787
Iteration 294, loss = 2.36236002
Iteration 295, loss = 2.36058236
Iteration 296, loss = 2.35765270
Iteration 297, loss = 2.36445487
Iteration 298, loss = 2.36210271
Iteration 299, loss = 2.36374624
Iteration 300, loss = 2.35602066
Iteration 301, loss = 2.35657763
Iteration 302, loss = 2.35907210
Iteration 303, loss = 2.35444688
Iteration 304, loss = 2.36199959
Iteration 305, loss = 2.35641335
Iteration 306, loss = 2.36700420
Iteration 307, loss = 2.35611200
Iteration 308, loss = 2.36131736
Iteration 309, loss = 2.35483511
Iteration 310, loss = 2.35112236
Iteration 311, loss = 2.35144685
Iteration 312, loss = 2.35442680
Iteration 313, loss = 2.35350671
Iteration 314, loss = 2.35396093
Iteration 315, loss = 2.35272505
Iteration 316, loss = 2.34895526
Iteration 317, loss = 2.35510403
Iteration 318, loss = 2.35090677
Iteration 319, loss = 2.34920408
Iteration 320, loss = 2.36346499
Iteration 321, loss = 2.35402898
Iteration 322, loss = 2.34967955
Iteration 323, loss = 2.34339041
Iteration 324, loss = 2.34556806
Iteration 325, loss = 2.34853963
Iteration 326, loss = 2.34695752
Iteration 327, loss = 2.34724146
Iteration 328, loss = 2.35095475
Iteration 329, loss = 2.34759754
Iteration 330, loss = 2.34372882
Iteration 331, loss = 2.34366754
Iteration 332, loss = 2.34108846
Iteration 333, loss = 2.34334625
Iteration 334, loss = 2.34150681
Iteration 335, loss = 2.34506165
Iteration 336, loss = 2.34359247
Iteration 337, loss = 2.34761299
Iteration 338, loss = 2.34386682
Iteration 339, loss = 2.34514793
Iteration 340, loss = 2.34496606
Iteration 341, loss = 2.34201840
Iteration 342, loss = 2.34041527
Iteration 343, loss = 2.33838037
Iteration 344, loss = 2.33806768
Iteration 345, loss = 2.33486301
Iteration 346, loss = 2.34248032
Iteration 347, loss = 2.34350831
Iteration 348, loss = 2.34326568
Iteration 349, loss = 2.33518688
Iteration 350, loss = 2.33706164
Iteration 351, loss = 2.33846676
Iteration 352, loss = 2.33679813
Iteration 353, loss = 2.33696202
Iteration 354, loss = 2.33395332
Iteration 355, loss = 2.34178485
Iteration 356, loss = 2.33419681
Iteration 357, loss = 2.33618088
Iteration 358, loss = 2.33199739
Iteration 359, loss = 2.33763245
Iteration 360, loss = 2.33509037
Iteration 361, loss = 2.33144843
Iteration 362, loss = 2.32998646
Iteration 363, loss = 2.34079634
Iteration 364, loss = 2.32855769
Iteration 365, loss = 2.33412326
Iteration 366, loss = 2.33336347
Iteration 367, loss = 2.33959051
Iteration 368, loss = 2.33382387
Iteration 369, loss = 2.34165601
Iteration 370, loss = 2.33430591
Iteration 371, loss = 2.32364014
Iteration 372, loss = 2.32959009
Iteration 373, loss = 2.33395205
Iteration 374, loss = 2.32370560
Iteration 375, loss = 2.32897442
Iteration 376, loss = 2.32446047
Iteration 377, loss = 2.32742659
Iteration 378, loss = 2.32727326
Iteration 379, loss = 2.33154578
Iteration 380, loss = 2.32702200
Iteration 381, loss = 2.32886616
Iteration 382, loss = 2.32607225
Iteration 383, loss = 2.32462150
Iteration 384, loss = 2.33169936
Iteration 385, loss = 2.32747726
Iteration 386, loss = 2.32868117
Iteration 387, loss = 2.32836900
Iteration 388, loss = 2.33097306
Iteration 389, loss = 2.32452571
Iteration 390, loss = 2.33618091
Iteration 391, loss = 2.32638795
Iteration 392, loss = 2.32848920
Training loss did not improve more than tol=0.000100 for 20 consecutive epochs. Stopping.

MLPClassifier(alpha=1e-05, hidden_layer_sizes=20, learning_rate='adaptive',
              max_iter=1000, n_iter_no_change=20, random_state=1, verbose=True)

### Test

Độ chính xác của mô hình

In [49]:
clf.score(X_test, y_test)

0.18771043771043772