# Import thư viện

In [18]:
# Pandas for reading data
import pandas as pd

# Matplotlib for ploting graph
import matplotlib.pyplot as plt

# Train test split
from sklearn.model_selection import train_test_split

# Multilayer Perceptron Classifier
from sklearn.neural_network import MLPClassifier

# Đọc dữ liệu

In [19]:
# Power dataframe
p_df = pd.read_csv('./data/W.csv',\
                       names=['time', 'light', 'socket', 'heater', 'aircond1', 'aircond2', 'aircond3', 'indcooker'],\
                       header=0)

# Voltage dataframe
u_df = pd.read_csv('./data/V.csv',\
                  names=['time', 'u'],\
                  header=0)

# Current dataframe
i_df = pd.read_csv('./data/A.csv',\
                  names=['time', 'light', 'socket', 'heater', 'aircond1', 'aircond2', 'aircond3', 'indcooker'],\
                  header=0)

light    : chiếu sáng  
socket   : ổ cắm phòng khách + bếp + ngủ  
heater   : bình nóng lạnh  
aircond1 : điều hoà 1 & 2  
aircond2 : điều hoà 3  
aircond3 : điều hoà phòng khách  
indcooker: bếp từ

### Bảng đo công suất tiêu thụ

In [20]:
p_df

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker
0,2020-07-15 00:00:00,0.0,216.0,0,244.0,0.0,631.0,1.0
1,2020-07-15 00:01:00,0.0,210.0,0,286.0,0.0,631.0,3.5
2,2020-07-15 00:02:00,0.0,206.0,0,314.0,0.0,633.0,6.0
3,2020-07-15 00:03:00,0.0,206.0,0,254.0,0.0,632.0,3.5
4,2020-07-15 00:04:00,0.0,160.0,0,274.0,0.0,629.0,1.0
...,...,...,...,...,...,...,...,...
31675,2020-08-05 23:55:00,0.0,236.0,0,183.0,0.0,0.0,1.0
31676,2020-08-05 23:56:00,0.0,238.0,0,174.0,0.0,0.0,1.0
31677,2020-08-05 23:57:00,0.0,243.0,0,199.0,0.0,0.0,1.0
31678,2020-08-05 23:58:00,0.0,241.0,0,229.0,0.0,0.0,1.0
31679,2020-08-05 23:59:00,0.0,246.0,0,245.0,0.0,0.0,1.0

### Bảng đo điện áp tiêu thụ

In [21]:
u_df

                      time    u
0      2020-07-15 00:00:00  231
1      2020-07-15 00:01:00  230
2      2020-07-15 00:02:00  230
3      2020-07-15 00:03:00  230
4      2020-07-15 00:04:00  230
...                    ...  ...
31675  2020-08-05 23:55:00  230
31676  2020-08-05 23:56:00  230
31677  2020-08-05 23:57:00  231
31678  2020-08-05 23:58:00  231
31679  2020-08-05 23:59:00  232

[31680 rows x 2 columns]

### Bảng đo dòng điện tiêu thụ

In [22]:
i_df

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker
0,2020-07-15 00:00:00,0.0,0.965,0.0,1.52,0.0,2.86,0.25
1,2020-07-15 00:01:00,0.0,0.955,0.0,1.53,0.0,2.86,0.25
2,2020-07-15 00:02:00,0.0,0.950,0.0,1.53,0.0,2.86,0.25
3,2020-07-15 00:03:00,0.0,0.950,0.0,1.53,0.0,2.87,0.25
4,2020-07-15 00:04:00,0.0,0.790,0.0,1.53,0.0,2.86,0.25
...,...,...,...,...,...,...,...,...
31675,2020-08-05 23:55:00,0.0,1.060,0.0,1.17,0.0,0.00,0.25
31676,2020-08-05 23:56:00,0.0,1.060,0.0,1.17,0.0,0.00,0.25
31677,2020-08-05 23:57:00,0.0,1.070,0.0,1.17,0.0,0.00,0.25
31678,2020-08-05 23:58:00,0.0,1.070,0.0,1.17,0.0,0.00,0.25
31679,2020-08-05 23:59:00,0.0,1.080,0.0,1.16,0.0,0.00,0.25

# Chuẩn bị dữ liệu

### Chọn các thiết bị sẽ phân loại

In [23]:
select_device = ['heater', 'indcooker']
# select_device = ['heater', 'indcooker', 'aircond1']
# select_device = ['heater', 'indcooker', 'aircond1', 'aircond2', 'aircond3']
# select_device = ['heater', 'indcooker', 'aircond1', 'aircond2', 'aircond3', 'socket', 'light']

### Tính tổng P

In [24]:
p_df['sum'] = p_df[select_device].sum(axis=1)
p_df.head()

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker,sum
0,2020-07-15 00:00:00,0.0,216.0,0,244.0,0.0,631.0,1.0,1092.0
1,2020-07-15 00:01:00,0.0,210.0,0,286.0,0.0,631.0,3.5,1130.5
2,2020-07-15 00:02:00,0.0,206.0,0,314.0,0.0,633.0,6.0,1159.0
3,2020-07-15 00:03:00,0.0,206.0,0,254.0,0.0,632.0,3.5,1095.5
4,2020-07-15 00:04:00,0.0,160.0,0,274.0,0.0,629.0,1.0,1064.0

### Tính tổng I

In [25]:
i_df['sum'] = i_df[select_device].sum(axis=1)
i_df.head()

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker,sum
0,2020-07-15 00:00:00,0.0,0.965,0.0,1.52,0.0,2.86,0.25,5.595
1,2020-07-15 00:01:00,0.0,0.955,0.0,1.53,0.0,2.86,0.25,5.595
2,2020-07-15 00:02:00,0.0,0.950,0.0,1.53,0.0,2.86,0.25,5.590
3,2020-07-15 00:03:00,0.0,0.950,0.0,1.53,0.0,2.87,0.25,5.600
4,2020-07-15 00:04:00,0.0,0.790,0.0,1.53,0.0,2.86,0.25,5.430

### Gán nhãn

Dựa vào bảng đo công suất tiêu thụ, tại một thời điểm t, thiết bị nào có công suất tiêu thụ lớn hơn `threshold` thì xác định là thiết bị đó đang bật. 

Có n thiết bị thì sẽ có tương ứng 2^n trường hợp, hay 2^n nhãn lớp.

Ví dụ có 5 thiết bị: A, B, C, D, E:
- A đang bật => 1
- B đang tắt => 0
- C đang bật => 1
- D đang bật => 1
- E đang tắt => 0

Thì nhãn lớp sẽ là 10110 (base 2) tương ứng với 22 (base 10)

In [26]:
threshold = 10

def set_label(row):
    x = 0
    for i, name in enumerate(select_device):
        if row[name] > 10:
            x += 2**i
    return x

p_df['label'] = p_df.apply(set_label, axis=1)

p_df.sample(10)

,time,light,socket,heater,aircond1,aircond2,aircond3,indcooker,sum,label
1597,2020-07-16 02:37:00,0.0,101.0,0,241.0,0.0,620.0,1.0,963.0,52
14613,2020-07-25 03:33:00,0.0,257.0,0,0.0,484.0,32.0,1.0,774.0,56
1497,2020-07-16 00:57:00,0.0,209.0,0,364.0,0.0,627.0,1.0,1201.0,52
16834,2020-07-26 16:34:00,8.5,733.0,0,0.0,0.0,2025.0,1.0,2767.5,48
22261,2020-07-30 11:01:00,16.5,321.0,0,0.0,0.0,1344.0,2.5,1684.0,112
18776,2020-07-28 00:56:00,0.0,236.0,0,150.0,0.0,596.0,1.0,983.0,52
15682,2020-07-25 21:22:00,10.5,301.0,0,0.0,0.0,2049.0,1.0,2361.5,112
23578,2020-07-31 08:58:00,128.0,250.0,0,0.0,0.0,1107.0,1.5,1486.5,112
8371,2020-07-20 19:31:00,22.0,28.0,0,0.0,0.0,0.0,0.5,50.5,96
10122,2020-07-22 00:42:00,0.0,239.0,0,285.0,0.0,620.0,1.0,1145.0,52

### Lấy các cột tổng ra cùng với label tương ứng

In [43]:
data = pd.DataFrame()
data['P'] = p_df['sum']
data['U'] = u_df['u']
data['I'] = i_df['sum'] * 100  # Nhân 100 để I không quá nhỏ so với các đại lượng khác
data['Label'] = p_df['label']

data.sample(10)

            P    U       I  Label
1718   1137.0  228   542.0     52
4601   1015.0  230   545.0     52
9422   2155.0  223   988.0     48
18626  1741.0  225   825.0     52
3582   2296.0  223  1054.0     48
11856   270.5  233   204.0     36
4468   1209.5  229   625.0     52
13160  1102.0  230   532.0     52
4949    119.0  227    90.0     32
2686   2236.0  226  1035.5    112

### Đưa về tập X và y để đưa vào model

Tập dữ liệu X phải chuẩn hoá về ma trận 2 chiều của numpy  
Mỗi dòng tương ứng với một điểm dữ liệu

In [53]:
X = data[['P', 'U', 'I']].to_numpy()

#### Tập nhãn lớp y đưa về dạng one-hot-coding vector  
Ví dụ:
- label = 0 tương ứng với vector [1, 0, 0, ..., 0] 
- label = 1 tương ứng với vector [0, 1, 0, ..., 0]
- label = 2 tương ứng với vector [0, 0, 1, ..., 0]
- ...
- label = 2^n - 1 (n = số thiết bị) tương ứng với vector [0, 0, 0, ..., 1]

Số lượng nơ-ron ở tầng đầu ra = độ dài vector output = 2 ^ n

In [54]:
y = [[0 for i in range(2**len(select_device))] for j in range(len(data))]
for i in range(len(data)):
    y[i][data['Label'][i]] = 1

#### Cách khác để mã hoá nhãn lớp (không làm theo bài báo):

Vì cách mã hoá one-hot-coding sẽ khiến vector output có độ dài bằng 2^n, sẽ làm tầng output của mạng nơ-ron cồng kềnh dẫn đến mất thời gian tính toán, nên có một cách khác tự nhiên hơn. (Thử nghiệm cho thấy độ hiệu quả là xấp xỉ nhau)

Giữ nhãn lớp ở dạng vector gồm 1 và 0 tương ứng với trạng thái của các thiết bị.  
Ví dụ có 5 thiết bị: A, B, C, D, E:
- A đang bật => 1
- B đang tắt => 0
- C đang bật => 1
- D đang bật => 1
- E đang tắt => 0

Thì mã hoá nhãn lớp là vector [1,0,1,1,0] luôn.

Số lượng nơ ron ở tầng đầu ra = số thiết bị cần phân loại.

In [52]:
# def tobase2(n):
#     length = len(select_device)
#     ret = [0 for i in range(length)]
#     i = length - 1
#     while n > 0:
#         ret[i] = n % 2
#         n = n // 2
#         i -= 1
#     return ret

# y = [tobase2(data['Label'][i]) for i in range(len(data))]

# Đưa dữ liệu vào mô hình

### Chia tập train, test

Tỷ lệ chia 70-30, lấy theo thứ tự, không xáo trộn (để dễ dàng so sánh kết quả với các giải thuật hoặc mô hình khác)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, shuffle=False)

### Train

In [38]:
clf = MLPClassifier(solver='adam', 
                    alpha=1e-5, 
                    hidden_layer_sizes=100, 
                    random_state=1, 
                    max_iter=1000, 
                    verbose=True, 
                    learning_rate='adaptive',
                    n_iter_no_change=20)
clf.fit(X_train, y_train)

Iteration 1, loss = 178.78572107
Iteration 2, loss = 5.00006430
Iteration 3, loss = 3.78100743
Iteration 4, loss = 3.31526946
Iteration 5, loss = 3.17682624
Iteration 6, loss = 3.20308830
Iteration 7, loss = 3.10159908
Iteration 8, loss = 3.22212831
Iteration 9, loss = 3.21151260
Iteration 10, loss = 3.03639630
Iteration 11, loss = 2.97848580
Iteration 12, loss = 3.16993094
Iteration 13, loss = 3.03449372
Iteration 14, loss = 3.04604390
Iteration 15, loss = 3.02938414
Iteration 16, loss = 3.31733322
Iteration 17, loss = 3.02229443
Iteration 18, loss = 3.04434685
Iteration 19, loss = 2.91768013
Iteration 20, loss = 2.99473837
Iteration 21, loss = 2.89667920
Iteration 22, loss = 3.02632896
Iteration 23, loss = 2.78349442
Iteration 24, loss = 2.88178258
Iteration 25, loss = 2.84928142
Iteration 26, loss = 2.90689212
Iteration 27, loss = 2.92421764
Iteration 28, loss = 3.07242460
Iteration 29, loss = 2.96170760
Iteration 30, loss = 3.01568472
Iteration 31, loss = 2.94865357
Iteration 32, loss = 2.97745675
Iteration 33, loss = 3.14651157
Iteration 34, loss = 2.93452556
Iteration 35, loss = 2.86746632
Iteration 36, loss = 2.92143014
Iteration 37, loss = 2.93629565
Iteration 38, loss = 2.68555694
Iteration 39, loss = 2.79571353
Iteration 40, loss = 2.84784515
Iteration 41, loss = 2.81543482
Iteration 42, loss = 2.87144305
Iteration 43, loss = 2.76218346
Iteration 44, loss = 2.83359914
Iteration 45, loss = 2.72500590
Iteration 46, loss = 2.73961040
Iteration 47, loss = 2.83209763
Iteration 48, loss = 2.63552003
Iteration 49, loss = 2.72469765
Iteration 50, loss = 2.76896905
Iteration 51, loss = 2.63541042
Iteration 52, loss = 2.76138769
Iteration 53, loss = 2.66230557
Iteration 54, loss = 2.78399792
Iteration 55, loss = 2.81233054
Iteration 56, loss = 2.71705181
Iteration 57, loss = 2.64630992
Iteration 58, loss = 2.71792039
Iteration 59, loss = 2.69100835
Iteration 60, loss = 2.67012485
Iteration 61, loss = 2.67850535
Iteration 62, loss = 2.57541799
Iteration 63, loss = 2.69449382
Iteration 64, loss = 2.67837750
Iteration 65, loss = 2.68862935
Iteration 66, loss = 2.73725544
Iteration 67, loss = 2.65686274
Iteration 68, loss = 2.69686678
Iteration 69, loss = 2.58890134
Iteration 70, loss = 2.61359643
Iteration 71, loss = 2.62796029
Iteration 72, loss = 2.59079287
Iteration 73, loss = 2.63340559
Iteration 74, loss = 2.50274744
Iteration 75, loss = 2.59799010
Iteration 76, loss = 2.51713518
Iteration 77, loss = 2.55418640
Iteration 78, loss = 2.55516266
Iteration 79, loss = 2.63457416
Iteration 80, loss = 2.58446186
Iteration 81, loss = 2.56649627
Iteration 82, loss = 2.50568449
Iteration 83, loss = 2.50855132
Iteration 84, loss = 2.58836748
Iteration 85, loss = 2.50810094
Iteration 86, loss = 2.51696461
Iteration 87, loss = 2.46577493
Iteration 88, loss = 2.46193382
Iteration 89, loss = 2.49711266
Iteration 90, loss = 2.59464266
Iteration 91, loss = 2.45234614
Iteration 92, loss = 2.55369466
Iteration 93, loss = 2.50105868
Iteration 94, loss = 2.48343924
Iteration 95, loss = 2.59378729
Iteration 96, loss = 2.43635189
Iteration 97, loss = 2.48230971
Iteration 98, loss = 2.38953934
Iteration 99, loss = 2.38727021
Iteration 100, loss = 2.41054770
Iteration 101, loss = 2.39349296
Iteration 102, loss = 2.40021080
Iteration 103, loss = 2.38820346
Iteration 104, loss = 2.43034202
Iteration 105, loss = 2.42388931
Iteration 106, loss = 2.47054276
Iteration 107, loss = 2.44859529
Iteration 108, loss = 2.37171562
Iteration 109, loss = 2.39151882
Iteration 110, loss = 2.37570625
Iteration 111, loss = 2.40513125
Iteration 112, loss = 2.40535480
Iteration 113, loss = 2.37190134
Iteration 114, loss = 2.32596258
Iteration 115, loss = 2.36247288
Iteration 116, loss = 2.39085226
Iteration 117, loss = 2.34444935
Iteration 118, loss = 2.38424476
Iteration 119, loss = 2.35515604
Iteration 120, loss = 2.32594722
Iteration 121, loss = 2.31804350
Iteration 122, loss = 2.33257355
Iteration 123, loss = 2.29210285
Iteration 124, loss = 2.30783698
Iteration 125, loss = 2.30630806
Iteration 126, loss = 2.30295855
Iteration 127, loss = 2.38356332
Iteration 128, loss = 2.33764452
Iteration 129, loss = 2.32001998
Iteration 130, loss = 2.31061053
Iteration 131, loss = 2.27969229
Iteration 132, loss = 2.32367157
Iteration 133, loss = 2.31876051
Iteration 134, loss = 2.30803389
Iteration 135, loss = 2.25051663
Iteration 136, loss = 2.26172866
Iteration 137, loss = 2.27216527
Iteration 138, loss = 2.29915104
Iteration 139, loss = 2.28416991
Iteration 140, loss = 2.25422530
Iteration 141, loss = 2.24171993
Iteration 142, loss = 2.27030977
Iteration 143, loss = 2.26165534
Iteration 144, loss = 2.25974100
Iteration 145, loss = 2.23195051
Iteration 146, loss = 2.27615307
Iteration 147, loss = 2.21948825
Iteration 148, loss = 2.18718573
Iteration 149, loss = 2.21857084
Iteration 150, loss = 2.20685918
Iteration 151, loss = 2.29073157
Iteration 152, loss = 2.24786466
Iteration 153, loss = 2.21382585
Iteration 154, loss = 2.21965242
Iteration 155, loss = 2.23084059
Iteration 156, loss = 2.24093070
Iteration 157, loss = 2.20383670
Iteration 158, loss = 2.19895070
Iteration 159, loss = 2.18908519
Iteration 160, loss = 2.21129366
Iteration 161, loss = 2.22432536
Iteration 162, loss = 2.19594262
Iteration 163, loss = 2.18310537
Iteration 164, loss = 2.17477212
Iteration 165, loss = 2.22160500
Iteration 166, loss = 2.17857296
Iteration 167, loss = 2.16503698
Iteration 168, loss = 2.20103423
Iteration 169, loss = 2.17129142
Iteration 170, loss = 2.21677047
Iteration 171, loss = 2.18007869
Iteration 172, loss = 2.14247002
Iteration 173, loss = 2.16828530
Iteration 174, loss = 2.12815669
Iteration 175, loss = 2.16365406
Iteration 176, loss = 2.15753793
Iteration 177, loss = 2.15792619
Iteration 178, loss = 2.15130076
Iteration 179, loss = 2.17425188
Iteration 180, loss = 2.17674231
Iteration 181, loss = 2.13856395
Iteration 182, loss = 2.16163446
Iteration 183, loss = 2.13838636
Iteration 184, loss = 2.10758874
Iteration 185, loss = 2.13917201
Iteration 186, loss = 2.13617448
Iteration 187, loss = 2.15322608
Iteration 188, loss = 2.14978305
Iteration 189, loss = 2.13276109
Iteration 190, loss = 2.14296934
Iteration 191, loss = 2.13905024
Iteration 192, loss = 2.13830754
Iteration 193, loss = 2.15890636
Iteration 194, loss = 2.11631473
Iteration 195, loss = 2.11043585
Iteration 196, loss = 2.13292311
Iteration 197, loss = 2.09567913
Iteration 198, loss = 2.09905193
Iteration 199, loss = 2.09727678
Iteration 200, loss = 2.11978123
Iteration 201, loss = 2.10426832
Iteration 202, loss = 2.09714297
Iteration 203, loss = 2.12771685
Iteration 204, loss = 2.11299216
Iteration 205, loss = 2.09897756
Iteration 206, loss = 2.08786383
Iteration 207, loss = 2.08922824
Iteration 208, loss = 2.07071238
Iteration 209, loss = 2.08121319
Iteration 210, loss = 2.08798784
Iteration 211, loss = 2.07053198
Iteration 212, loss = 2.10265617
Iteration 213, loss = 2.09418435
Iteration 214, loss = 2.07570530
Iteration 215, loss = 2.07889141
Iteration 216, loss = 2.05755031
Iteration 217, loss = 2.09479805
Iteration 218, loss = 2.10400544
Iteration 219, loss = 2.05744976
Iteration 220, loss = 2.06618684
Iteration 221, loss = 2.07567197
Iteration 222, loss = 2.06478649
Iteration 223, loss = 2.06949634
Iteration 224, loss = 2.07804362
Iteration 225, loss = 2.06916771
Iteration 226, loss = 2.07714191
Iteration 227, loss = 2.05872941
Iteration 228, loss = 2.05216282
Iteration 229, loss = 2.08155840
Iteration 230, loss = 2.06475479
Iteration 231, loss = 2.08215029
Iteration 232, loss = 2.03911622
Iteration 233, loss = 2.04852951
Iteration 234, loss = 2.05061972
Iteration 235, loss = 2.06081579
Iteration 236, loss = 2.04711784
Iteration 237, loss = 2.06179668
Iteration 238, loss = 2.06254787
Iteration 239, loss = 2.03513326
Iteration 240, loss = 2.05196757
Iteration 241, loss = 2.03606872
Iteration 242, loss = 2.03951549
Iteration 243, loss = 2.04908566
Iteration 244, loss = 2.03961464
Iteration 245, loss = 2.03917856
Iteration 246, loss = 2.03688538
Iteration 247, loss = 2.03533741
Iteration 248, loss = 2.03171942
Iteration 249, loss = 2.03901031
Iteration 250, loss = 2.02860691
Iteration 251, loss = 2.02484044
Iteration 252, loss = 2.02886363

Iteration 253, loss = 2.02812955
Iteration 254, loss = 2.02597718
Iteration 255, loss = 2.02572503
Iteration 256, loss = 2.02401875
Iteration 257, loss = 2.00660393
Iteration 258, loss = 2.02710139
Iteration 259, loss = 2.03392119
Iteration 260, loss = 2.01795639
Iteration 261, loss = 2.02552752
Iteration 262, loss = 2.01023413
Iteration 263, loss = 2.01433919
Iteration 264, loss = 2.01255523
Iteration 265, loss = 2.01676330
Iteration 266, loss = 2.00481363
Iteration 267, loss = 1.99759482
Iteration 268, loss = 2.02045916
Iteration 269, loss = 2.00191906
Iteration 270, loss = 2.01858691
Iteration 271, loss = 2.01720127
Iteration 272, loss = 2.00461942
Iteration 273, loss = 2.01412656
Iteration 274, loss = 2.00033624
Iteration 275, loss = 2.00455088
Iteration 276, loss = 2.01042350
Iteration 277, loss = 2.01934394
Iteration 278, loss = 2.02745354
Iteration 279, loss = 1.99643180
Iteration 280, loss = 2.00426965
Iteration 281, loss = 1.99870483
Iteration 282, loss = 2.00421611
Iteration 283, loss = 2.01399297
Iteration 284, loss = 1.99275270
Iteration 285, loss = 2.01194608
Iteration 286, loss = 2.00998065
Iteration 287, loss = 2.01003750
Iteration 288, loss = 1.99086659
Iteration 289, loss = 2.01361963
Iteration 290, loss = 2.00515441
Iteration 291, loss = 1.99651760
Iteration 292, loss = 1.99460928
Iteration 293, loss = 1.98762321
Iteration 294, loss = 1.98963455
Iteration 295, loss = 1.98281791
Iteration 296, loss = 1.98927536
Iteration 297, loss = 1.98391590
Iteration 298, loss = 1.98666748
Iteration 299, loss = 1.98898099
Iteration 300, loss = 1.98631733
Iteration 301, loss = 2.00021133
Iteration 302, loss = 1.99247993
Iteration 303, loss = 1.98411323
Iteration 304, loss = 1.97667229
Iteration 305, loss = 1.98838353
Iteration 306, loss = 1.99401515
Iteration 307, loss = 1.98388630
Iteration 308, loss = 1.97959701
Iteration 309, loss = 1.98542937
Iteration 310, loss = 1.99545343
Iteration 311, loss = 1.98667683
Iteration 312, loss = 1.98435811
Iteration 313, loss = 1.98673461
Iteration 314, loss = 1.98222028
Iteration 315, loss = 1.98132919
Iteration 316, loss = 1.97820861
Iteration 317, loss = 1.98815876
Iteration 318, loss = 1.98859269
Iteration 319, loss = 1.97386479
Iteration 320, loss = 1.97951328
Iteration 321, loss = 1.97867434
Iteration 322, loss = 1.97865532
Iteration 323, loss = 1.96440303
Iteration 324, loss = 1.97762816
Iteration 325, loss = 1.96691011
Iteration 326, loss = 1.98479388
Iteration 327, loss = 1.97317140
Iteration 328, loss = 1.98271187
Iteration 329, loss = 1.96479140
Iteration 330, loss = 1.97940378
Iteration 331, loss = 1.97195814
Iteration 332, loss = 1.96457461
Iteration 333, loss = 1.97942377
Iteration 334, loss = 1.96847585
Iteration 335, loss = 1.97790102
Iteration 336, loss = 1.96601045
Iteration 337, loss = 1.96394403
Iteration 338, loss = 1.96541328
Iteration 339, loss = 1.96290887
Iteration 340, loss = 1.96956672
Iteration 341, loss = 1.96455950
Iteration 342, loss = 1.96410995
Iteration 343, loss = 1.96466783
Iteration 344, loss = 1.96666641
Iteration 345, loss = 1.96214510
Iteration 346, loss = 1.97032298
Iteration 347, loss = 1.96670136
Iteration 348, loss = 1.96691134
Iteration 349, loss = 1.96441417
Iteration 350, loss = 1.96537506
Iteration 351, loss = 1.95731413
Iteration 352, loss = 1.96559698
Iteration 353, loss = 1.96210083
Iteration 354, loss = 1.96050312
Iteration 355, loss = 1.96276052
Iteration 356, loss = 1.96821453
Iteration 357, loss = 1.95805420
Iteration 358, loss = 1.96081694
Iteration 359, loss = 1.96848785
Iteration 360, loss = 1.96849016
Iteration 361, loss = 1.95177796
Iteration 362, loss = 1.96171066
Iteration 363, loss = 1.96501254
Iteration 364, loss = 1.95516780
Iteration 365, loss = 1.96004368
Iteration 366, loss = 1.95894180
Iteration 367, loss = 1.96453961
Iteration 368, loss = 1.95718313
Iteration 369, loss = 1.95825934
Iteration 370, loss = 1.96958763
Iteration 371, loss = 1.95503913
Iteration 372, loss = 1.95437190
Iteration 373, loss = 1.94856883
Iteration 374, loss = 1.96162780
Iteration 375, loss = 1.95383636
Iteration 376, loss = 1.94819398
Iteration 377, loss = 1.95491991
Iteration 378, loss = 1.96023542
Iteration 379, loss = 1.95746228
Iteration 380, loss = 1.96731674
Iteration 381, loss = 1.96091808
Iteration 382, loss = 1.94440441
Iteration 383, loss = 1.94882202
Iteration 384, loss = 1.96041284
Iteration 385, loss = 1.94832129
Iteration 386, loss = 1.94536917
Iteration 387, loss = 1.94634246
Iteration 388, loss = 1.95592848
Iteration 389, loss = 1.95302805
Iteration 390, loss = 1.94833777
Iteration 391, loss = 1.95381611
Iteration 392, loss = 1.95594885
Iteration 393, loss = 1.95463454
Iteration 394, loss = 1.95590189
Iteration 395, loss = 1.95036518
Iteration 396, loss = 1.95682334
Iteration 397, loss = 1.94729816
Iteration 398, loss = 1.95751262
Iteration 399, loss = 1.95268587
Iteration 400, loss = 1.96074259
Iteration 401, loss = 1.94773478
Iteration 402, loss = 1.94848035
Iteration 403, loss = 1.94186837
Iteration 404, loss = 1.95564940
Iteration 405, loss = 1.95282997
Iteration 406, loss = 1.95005527
Iteration 407, loss = 1.94904220
Iteration 408, loss = 1.94144730
Iteration 409, loss = 1.94733701
Iteration 410, loss = 1.93927649
Iteration 411, loss = 1.95207910
Iteration 412, loss = 1.94820542
Iteration 413, loss = 1.94829048
Iteration 414, loss = 1.94249012
Iteration 415, loss = 1.94940378
Iteration 416, loss = 1.95860695
Iteration 417, loss = 1.94973044
Iteration 418, loss = 1.94908155
Iteration 419, loss = 1.94511027
Iteration 420, loss = 1.95069162
Iteration 421, loss = 1.94759683
Iteration 422, loss = 1.94692006
Iteration 423, loss = 1.94437941
Iteration 424, loss = 1.94724191
Iteration 425, loss = 1.95525178
Iteration 426, loss = 1.93715840
Iteration 427, loss = 1.93960333
Iteration 428, loss = 1.93716683
Iteration 429, loss = 1.94828200
Iteration 430, loss = 1.95674515
Iteration 431, loss = 1.93742136
Iteration 432, loss = 1.94780266
Iteration 433, loss = 1.95349444
Iteration 434, loss = 1.94892307
Iteration 435, loss = 1.94702540
Iteration 436, loss = 1.94068137
Iteration 437, loss = 1.94329013
Iteration 438, loss = 1.94555523
Iteration 439, loss = 1.93879645
Iteration 440, loss = 1.94498203
Iteration 441, loss = 1.94475082
Iteration 442, loss = 1.95611382
Iteration 443, loss = 1.95690355
Iteration 444, loss = 1.95321367
Iteration 445, loss = 1.94743216
Iteration 446, loss = 1.94013060
Iteration 447, loss = 1.95029161
Training loss did not improve more than tol=0.000100 for 20 consecutive epochs. Stopping.

MLPClassifier(alpha=1e-05, hidden_layer_sizes=100, learning_rate='adaptive',
              max_iter=1000, n_iter_no_change=20, random_state=1, verbose=True)

### Test

Độ chính xác của mô hình

In [55]:
clf.score(X_test, y_test)

0.2770412457912458